body{
    background-color: #f0f0f0;
}

.wrap{
    max-width: 800px;
/*    width: 800px;*/
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    padding-bottom: 20px;
/*    display: none;*/
}

.margemtopocv{
    margin-top: 15px;
/*    margin-left: 5px;*/
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    font-family: 'Karma', serif;
    font-weight:bold;
    margin-bottom: 2px;
}

h3.cargo{
    margin-top: 0px;
    font-family: 'Karma', serif;
}

ul {
    margin-top: 19px;
    font-family: 'Karma', serif;
}

/* Separador */
hr.style1{
	border-top: 4px solid #66461c;
    border-radius: 5px;
}

.formatfonte{
    font-family: 'Karma', serif;
    font-weight:bold;
}

ul.listadados{
  list-style:none;
}

/* CSS dos dados de empresa */
li.empregador{
    font-size: 20px;
    list-style: none;
    margin-left: -17px;
}

li.justifica{
  text-align: justify;
}

.carregatopo,.carregaformacao,.carregaexperiencia,.carregaconhecimentos{
    display: none;
}

.file {
  visibility: hidden;
  position: absolute;
}

/*CSS da barra do cadastro*/
li#limenu{
  color: #ffffff;
}

.dadosobjetivo{
  display: none;
  text-decoration: none;
}
